<!DOCTYPE html>
<html ng-app="buzzrApp">
<head>

<script src="http://js.leapmotion.com/leap-0.6.0.js"></script>
<script src="http://js.leapmotion.com/leap-plugins-0.1.3.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" media="screen" type="text/css" href="assets/spacegallery/css/spacegallery.css" />
<script type="text/javascript" src="assets/spacegallery/js/eye.js"></script>
<script type="text/javascript" src="assets/spacegallery/js/utils.js"></script>
<script type="text/javascript" src="assets/spacegallery/js/spacegallery.js"></script>
<link rel="stylesheet" href="assets/styles/index.css"></link>

<!-- AngularJS -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<script type="text/javascript" src="assets/js/controllers/galleryController.js"></script>


<!-- Custom JS -->
<script type="text/javascript" src="assets/js/index.js"></script>
</head>

<body ng-controller="galleryController">


<nav class="navbar navbar-default" role="navigation">
<center>
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Buzzr</a>
  </div><!-- /.container-fluid -->
  </center>
</nav>
<div id="myGallery">
    <h2>{{header}}</h2>
    <img ng-repeat="buzz in buzzes" ng-src="{{buzz.image}}"></img>

<div id="likes">
    <ul>
        <li ng-repeat="like in likes"><a href="http://buzzfeed.com/{{like.username}}/{{like.uri}}">{{toTrusted(like.title)}}</a></li> 
    </ul>
</div>
</div>
</body>
</html>
